/**
 * @file
 */

.mason,
.mason * {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mason {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 210px;
  margin-right: auto;
  margin-left: auto;
}

.mason .box {
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
  max-width: 100%;
}

.mason__fill {
  position: absolute;
  display: none;
}

.mason__filler {
  display: block;
}

.mason .box img {
  height: auto;
}

.mason .box img,
.mason .box iframe {
  display: block;
  width: 100%;
  max-width: 100%;
}

.mason .box,
.mason .box__content {
  background-position: center center;
  background-size: cover;
}

.mason .media,
.mason .box__content,
.mason .box__caption,
.mason .blazy__caption {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  margin: 0;
}

/** Image ratio is irrelevant for gapless grids. */
.mason .media--blazy {
  padding-bottom: 0 !important;
}

.box__content > a,
.mason .media,
.mason .box__content {
  display: block;
  height: 100%;
}

.mason .box__caption,
.mason .blazy__caption {
  z-index: 2;
  padding: 15px;
}

/** Prevents hover-event blocking for lightbox trigger below caption. */
.mason a .box__caption,
.mason a .blazy__caption,
.mason a ~ .box__caption {
  pointer-events: none;
}

.mason .box__caption a,
.mason .blazy__caption a,
.mason .box__caption input {
  pointer-events: auto;
}

.box--caption--bottom .box__caption {
  top: auto;
  bottom: 0;
}

.box--caption--top .box__caption {
  top: 0;
}

.box--caption--center .box__caption {
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/** Olivero fix. */
.mason .box .blazy {
  margin: 0;
}

/**
 * Debug.
 */
#debug {
  z-index: 3;
  pointer-events: none;
}

.view-mason-x {
  position: relative;
  overflow: hidden;
}
