/**
 * @file
 */

.form-wrapper--mason-grid .form-item {
  display: inline-block;
  width: 33%;
  margin-right: -1px;
  vertical-align: top;
}

.form--mason .details--settings {
  position: relative;
  float: left;
  clear: both;
  overflow: visible;
  width: 100%;
  margin: 30px auto;
  border: 1px solid #dbe1e9;
  background: #f9f9f9;
  box-shadow: 0 0 0 4px #f9f9f9;
}

.form--mason details.form-wrapper {
  clear: both;
}

.form--mason .form-wrapper-box > details.form-wrapper {
  margin: 0;
  padding: 30px 0 10px;
  border: 1px solid #dbe1e9;
  box-shadow: 0 0 0 4px #f9f9f9;
}

.form--mason .form-wrapper-box {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 30px;
  background: #fff;
}

.form--mason .details--settings .button {
  position: relative;
  bottom: -10px;
  display: block;
  float: none;
  clear: both;
  margin: 0 auto;
}

.form--mason .details-description {
  margin-bottom: 30px;
}

.form--mason.form--optionset details.form-wrapper--mason-filler {
  margin: 0;
  padding: 30px 0 0;
}

.form--mason .form-wrapper--mason-filler > .details-wrapper {
  padding-bottom: 0;
}

@media screen and (min-width: 1280px) {
  .form-wrapper--mason-grid .form-item {
    width: 16%;
  }
}
