{#
/**
 * @file
 * Default theme implementation for the Mason template.
 *
 * Available variables:
 * - items: The array of items containing mason contents and captions.
 * - settings: A cherry-picked settings that mostly defines the box HTML or
 *     layout, and none of JS settings/options which are defined at data-mason.
 * - attributes: The array of attributes to hold classes, id and the data-mason
 *     containing JSON object aka JS settings the Mason expects. We don't store
 *     these JS settings in the normal <head>, but inline within data-mason
 *     attribute instead.
 *
 * Debug:
 * @see https://www.drupal.org/node/1906780
 * @see https://www.drupal.org/node/1903374
 * Use Kint: {{ kint(variable) }}
 * Dump all available variables and their contents: {{ dump() }}
 * Dump only the available variable keys: {{ dump(_context|keys) }}
 */
#}
{%
  set classes = [
    settings.skin ? 'mason--skin--' ~ settings.skin|clean_class,
    settings.optionset ? 'mason--optionset--' ~ settings.optionset|clean_class
  ]
%}
<div id="{{ attributes.id|clean_id }}"{{ attributes.addClass(classes)|without('id') }}>

  {{ items }}

  {% block mason_postscript %}
    {{ postscript }}
  {% endblock %}

</div>
